.cart-space{
  height: 25vh;
}
.cart{
 .cart-timeline{
  .bg-dark {
    background-color: #1C1C1C;
  } 
  .form-control, .form-control:focus {
    border-color: #FFFFFF;
    background-color: transparent;
    color: #C1C1C1;
  }
  .inputTime, .inputTime:focus {
    border-color: #FFFFFF;
    background-color: transparent;
    color: #C1C1C1;
  }
  .datepicker-cell:not(.disabled):hover {
    background-color: #e8e8e8;
  }
  .datepicker-cell.selected, .datepicker-cell.selected:hover {
    background-color: #e8e8e8;
    color: #000;
  }
 }
  .text-decoration-line-through {
    text-decoration: line-through;
    text-decoration-color:block !important; 
    text-decoration-thickness: 1.5px !important;
  }
  .cart-product{
    width: 22%;
  } 
  .cart-amount{
    width: 180px;
  }
  .fs-md{
    font-size: 24px;
  }
  .use-coupon{
    font-size: 18px;
  }  
}
td,th,tr{
  border-bottom: 1px solid black;
}
 
  // RWD
@include media-breakpoint-down(lg) { 
  .cart{
    .fs-md{        
      font-size: 16px;
    }
    .cart-product-img{
      width: 100px !important;
      height: 100px !important;
    }
    .cart-amount{
      width: 120px;
    }
    .use-coupon{
      font-size: 14px;
    }
  }    
  .cart-space{
    height: 10vh;
  }
}  
@include media-breakpoint-down(sm) {    
  .cart{
    .molbile-size{
      font-size: 10px;
    }
    .reEnter{
      margin-top: -12px;
    }
  }    
}

  